.filter-bar {
    display: flex;
    flex-wrap: wrap;
    gap:2em;
    padding: 20px;

}

.filter-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.filter-item label {
    font-weight: bold;
    margin-bottom: 5px;
}

.filter-item select {
    padding: 0;
    
}

.filter-item input[type="text"]{
    padding: 10px ;
}
